@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-custom-primary: #d87d4a;
  --color-custom-secondary: #fbaf85;
  --color-custom-black: #000000;
  --color-custom-black-alt: #101010;
  --color-custom-white: #ffffff;
  --color-custom-gray-light: #fafafa;
  --color-custom-gray: #f1f1f1;

  --font-manrope: var(--font-manrope);

  --spacing-custom: 1110px;
}

@utility text-h1 {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
}

@utility text-h2 {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
}

@utility text-h3 {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}

@utility text-h4 {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}

@utility text-h5 {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

@utility text-h6 {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
}

@utility text-overline {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
}

@utility text-subtitle {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

@utility text-body {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}
